<launch>
  <arg name="robot_name"  default="mobile_manipulator"/>
  <arg name="init_x_pos" default="0.0"/>
  <arg name="init_y_pos" default="0.0"/>
  <arg name="init_z_pos" default="0.0"/>
  <arg name="init_yaw"   default="0.0"/>

  <param name="robot_description" command="$(find xacro)/xacro $(find custom_robot_tutorial)/urdf/mobile_manipulator_robot.urdf.xacro" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="100.0" />
    <param name="tf_prefix" value="mobile_manipulator" />
  </node>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
    args="-urdf -model $(arg robot_name) -x $(arg init_x_pos) -y $(arg init_y_pos) -z $(arg init_z_pos) -Y $(arg init_yaw) -param robot_description" />

  <rosparam file="$(find custom_robot_tutorial)/config/joint_controller.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="mobile_manipulator"
    args="joint_state_controller base_joint_position link_1_joint_position link_2_joint_position link_3_joint_position"/>

</launch>